{% extends 'base.html' %}

{% block body %}
<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row gx-0">

                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>Haqqımızda</h3>
                        <p>
                            Şirkət 19.04.2022-ci ildən fəaliyyətə başlamışdır. Bizim Fəaliyyətimiz peşəkar komandamızın yaradıclığı ilə öz müştərilərinə xidmət göstərməkdədir. İnkişaf etməkdə olan onlayn sektor hər brendin Veb səhifələrinin olmasına dəlalət yaradır. Bizim məqsədimiz müştərilərimizə ən keyfiyyətli məhsullar ilə ən qısa zaman da təmin etməkdir. Hər bir müştərimiz bizə loyal olmaqla,Biz də müştərilərimizə hər zaman loyallıqla yanaşaraq, eyni zamanda da təhlükəsiz məhsullar yaradaraq xidmət səviyyəmizi olduğumuz sektorda yüksəklərə qaldırmaqdayıq. İşiniz işimizdir.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4 col-center">

                <div class="col-lg-4 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                                class="purecounter">{{completed_projects_count}}</span>
                            <p>Bitmiş layihələrimiz</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-people" style="color: #bb0852;"></i>
                        <div>
                            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                                class="purecounter">{{not_completed_projects_count}}</span>
                            <p>Davam edən layihələrimiz</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Counts Section -->

</main><!-- End #main -->
{% endblock %}