{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a class="" href="{% url 'home' %}">Əsas səhifə</a></li>
      <li>Dizayn Xidməti</li>
    </ol>
    <h2>Dizayn Xidməti</h2>

  </div>
</section><!-- End Breadcrumbs -->

<main id="main"></main>
<!-- ======= Design Services Section ======= -->
<section id="portfolio-details" class="portfolio-details">
  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-12">
        <div class="portfolio-description">
          <h4>Logo hazırlanması</h4>
          <p>
            Logonu bəzən şirkətlər google və ya digər saytlardan götürmə bir şey qoyurlar.Bu da doğru deyildir.Həm
            şirkətin imici həm də tanıtımı baxımında logonun olmasi zərurəti yaranır.Ona görə də peşəkarlıq
            baxımından və bunun sırf sizə aid olması üçün logo şərtdir.
          </p>
        </div>
        <div class="portfolio-description">
          <h4>BrandBook</h4>
          <p>
            Korparativ stilin olması,şirkətin necə bir marka olmasını göstərir.
            Şirkətin korporativ stili onun necə bir marka olmasını, hədəflərini
            ən qısa şəkildə ifadə etməyi bacarmalıdır.
          </p>
          <h5>
            Brandbook asağıda göstərilənləri təqdim edir:
          </h5>
          <ul>
            <li>Şirkətin adının məhşurlaşması;</li>
            <li>Dizayn fərqi ilə rəqabətdə üstünlük;</li>
            <li>Reklamlar zamanı effektiv olması;</li>
            <li>Şirkətin innovativ,texnoloji cəhətdən üstün olması</li>
          </ul>
        </div>
        <div class="portfolio-description">
          <h4>Kataloq dizaynı</h4>
          <p>
            Kataloq dizayn da əsasən şirkətin bütün məhsullarının kataloq şəklində
            tanıdılması üçün ideal seçimdir.
          </p>
        </div>
        <div class="portfolio-description">
          <h4>Poster dizaynı</h4>
          <p>Posterlər məhsul tanıtımında geniş istifadə edilən reklam növlərindəndir.
            Reklamın bu növündən istifadə edirsinizsə keyfiyyətli görüntü və məhsulun öndə
            olması vacib amillərdəndir.
            İnfoqrafik dizayn
            Bu isə qrafik dizaynın məlumat tipinə aiddir ki,Gündəlik olaraq metroda,avtobusda və ya küçədə
            və ya internətdə sosial şəbəkələrdə gəzərkən rastlaşdığınız məlumatların qrafik dizaynla verilmiş
            növüdür
          </p>
        </div>
        <div class="portfolio-description">
          <h4>İnfoqrafik dizayn</h4>
          <p>Bu isə qrafik dizaynın məlumat tipinə aiddir ki,Gündəlik olaraq metroda,avtobusda
            və ya küçədə və ya internətdə sosial şəbəkələrdə gəzərkən rastlaşdığınız məlumatların
            qrafik dizaynla verilmiş növüdür.
          </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Design Services Section -->

</main><!-- End #main -->

{% endblock %}