<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>WebLabs</title>
    <meta content="" name="description">

    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">


    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i>info@example.com
                <i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55
            </div>
            <div class="social-links d-none d-md-block">
                <a href="#" class="facebook"><i class="bi bi-facebook fa-lg"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram fa-lg"></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto">
                <a href="index.html" class="logo">
                    <!-- <span>WEBL<span style="color: #0DCCE0;">A</span>BS</span> -->
                    <img src="assets/img/lg2.png" alt="" class="img-fluid">
                </a>
            </h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="" href="#hero">Əsas səhifə</a></li>
                    <li><a class="" href="#about">Haqqımızda</a></li>
                    <li class="dropdown"><a href="#services">Xidmətlər<i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Saytlatın Hazırlanmasi</a></li>
                            <li><a href="#">Hazır Proqramlar və Mobil Tətbiqlər</a></li>
                            <li><a href="#">Server Nəzarəti və Hostinq</a></li>
                            <li><a href="#">Texniki Dəstək</a></li>
                            <li><a href="#">Seo Xİdməti</a></li>
                            <li><a href="#">CRM və Marketing Avtomatlaşdırma</a></li>
                            <li><a href="#">Sosial Media və Google Reklamları</a></li>
                            <li><a href="#">Lead Generation Həlləri</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="#portfolio">İşlərimiz</a></li>
                    <li><a class="" href="#contact">Əlaqə</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Portfolio Details</li>
        </ol>
        <h2>Portfolio Details</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-3.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

     <!-- ======= Footer ======= -->
     <footer id="footer" class="footer footer-bg">
      <div class="footer-top">
          <div class="container">
              <div class="row gy-4 footer-img">
                  <div class="col-lg-5 col-md-12 footer-info">
                      <a href="#" class="logo d-flex align-items-center">
                          <!-- <span style="color: white;">WEBL<span>A</span>BS</span> -->
                          <img src="assets/img/lg2 - Copy.png" alt="">
                      </a>
                      <p>Bu şirkətin yaranmasında səbəb bazara yeni texnologiyalarla hazırlanmış layihələrlə <br>
                          çıxmasıdır.Biz müştərilərin işinə öz işimiz kimi yanaşır və deyiləm müddətdə işləri əksiksiz
                          təqdim edirik <br>
                          İşiniz İşimizdir</p>
                      <div class="social-links mt-3">
                          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                          <a href="#" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
                      </div>
                  </div>

                  <div class="col-lg-2 col-6 footer-links">
                      <h4>Sürətli keçid</h4>
                      <ul>
                          <li><i class="bi bi-chevron-right"></i> <a href="#">Web saytların hazırlanması</a></li>
                          <li><i class="bi bi-chevron-right"></i> <a href="#">Xidmətlər</a></li>
                          <li><i class="bi bi-chevron-right"></i> <a href="#">Təklif alın</a></li>
                      </ul>
                  </div>

                  <div class="col-lg-2 col-6 footer-links">
                      <h4>Qaydalar</h4>
                      <ul>
                          <li><i class="bi bi-chevron-right"></i> <a href="#">Texniki tapşırıq</a></li>
                          <li><i class="bi bi-chevron-right"></i> <a href="#">Müqavilə nüsxəsi</a></li>
                          <li><i class="bi bi-chevron-right"></i> <a href="#">Təhlükəsizlik</a></li>
                      </ul>
                  </div>

                  <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                      <h4>Əlaqə</h4>
                      <p>
                          <strong>Telefon:</strong> +994(50)123 45 67<br>
                          <strong>Telefon:</strong> +994(50)123 45 67<br>
                          <strong>E-poçta:</strong> weblabs@gmail.com<br>
                      </p>

                  </div>

              </div>
              <div class="copyright">
                  &copy; Copyright <strong><span>WebLabs</span></strong>. All Rights Reserved
              </div>
              <div class="credits">
                  <!-- All the links in the footer should remain intact. -->
                  <!-- You can delete the links only if you purchased the pro version. -->
                  <!-- Licensing information: https://bootstrapmade.com/license/ -->
                  <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
                  Designed by <a href="https://bootstrapmade.com/"><i>Weblabs technologies</i></a>
              </div>
          </div>
      </div>

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>