{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a class="" href="{% url 'home' %}">Əsas səhifə</a></li>
      <li>SEO Xidməti</li>
    </ol>
    <h2>SEO Xidməti</h2>

  </div>
</section><!-- End Breadcrumbs -->

<main id="main">
<!-- ======= SEO Services Section ======= -->
<section id="portfolio-details" class="portfolio-details">
  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-12">
        <div class="portfolio-description">
          <!-- <h2 class="text-center">SEO Xidməti</h2> -->
          <p>
            Seo axtarış sistemləri üçün optimizasiya deməkdir.Bu da yəni Brovser də sizin
            şirkətinizin məhsulları ilə baglı və yaxud müəyyən edilmiş sahə ilə bağlı axtarış zamanı
            saytınızın ön plana cıxarılmasıdır.Saytınız 100% seo yönümlü olsada axtarış zamanı ilk
            başlar da çıxmaya bilər bunun üçün də müddət lazımdır.Biz Seo xidməti vasitəsilə
            bütün bunları edirik.
          </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Details Section -->

</main><!-- End #main -->


{% endblock %}