{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a class="" href="{% url 'home' %}">Əsas səhifə</a></li>
      <li>SMM Xidməti</li>
    </ol>
    <h2>SMM Xidməti</h2>

  </div>
</section><!-- End Breadcrumbs -->

<main id="main">

  <!-- ======= SMM Services Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">
        <div class="col-lg-12">
          <div class="portfolio-description">
            <h4>Sosial media marketinq (SMM) – Sosial şəbəkələrdə marketinq işinin
              təşkil edilməsidir</h4>
            <p>
              Bu sosial şəbəkələrdə marketinqlə məşğul olaraq malların satışının təşkil
              olunmasıdır. Sosial media marketinq bütün marketinq növlərinin içərisində ən
              çox effektivli vasitədir. Onun köməyi ilə istifadəçilər müştərinin saytına daxil
              olaraq bloqlar, hər gün baş verən yeniliklər, forumlar və təklif edilən məntəqələr
              barədə məlumat toplaya bilir.
            </p>
            <h4>Sosial Media Marketinqin ənənəvi iş qaydaları:</h4>
            <ol>
              <li>Yaradılması, sənədləşdirilməsi, materilalların doldurulması, müxtəlif
                platformalarda paylaşılması
              </li>
              <li>Bloqun irəli aparılması</li>
              <li>Mövzu barədə məlumatların paylaşması, diskusiyaların aparılması</li>
              <li>Məşhur forumlarla iş , diskusiyaların davamlı olaraq aparılması, gizli
                marketinq (agentin müdaxiləsi)</li>
                <li>Məşhur şəbəkələrdə birbaşa reklamların aparılması</li>
                <li>Virus marketinq</li>
                <li>Pozitiv manitorinq və neqativ məlumatların təşkil edilməsi. Bu müsbət
                  məlumatlandırılma yolu ilə təşkil edilməlidir</li>
                <li>Sosial media resursları ilə şirkət məhsullarının təqdim edilməsi.
                  Sosial mediada marketinqin təşkili bir anda öz effektini vermir, arzu edilən
                  nərticəni əldə etmək üçün ən azı 3 ay gözləmək və onu düzgün yola
                  istiqamətləndirmək lazımdır</li>
            </ol>
            <p>Sosial media matketinq saytın açılması və onun sosial media marketinq
              kriteriyalarına uyğun olaraq idarə edilməsi marketinq işinin keyfiyyətli olmasına
              səbəb olur</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End SMM Services Section -->

</main><!-- End #main -->

{% endblock %}