{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a class="" href="{% url 'home' %}">Əsas səhifə</a></li>
      <li>SMM Xidməti</li>
    </ol>
    <h2>SMM Xidməti</h2>

  </div>
</section><!-- End Breadcrumbs -->

<main id="main">

  <!-- ======= SMM Services Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">
        <div class="col-lg-12">
          <div class="portfolio-description">
            <!-- <h4>SMM Xidməti</h4> -->
            <p>
              SMM uyğun olaraq kontentin hazirlanmasi ve umumi ayliq planlamaninin həyata
              keçirilir . Hədəfə uyğun olaraq nəticələrin əldə olunmasi üçün gərəkli olan
              paylaşımlar reklamlar həyata keçiriləcəkdir .Seçdiyiniz Paketə uyğun xidmət təqdim
              olunacaqdır.
              Facebook sosial şəbəkəsində səhifələrin yaradılması
              Facebook və instagram səhifəsinin idarə edilməsi peşəkar şəkildə həyata keçirilir .
              İnstagram üzrə xidmətlər facebookla paralel olaraq aparılır .
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End SMM Services Section -->

</main><!-- End #main -->

{% endblock %}