{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a class="" href="{% url 'home' %}">Əsas səhifə</a></li>
      <li>Texniki Dəstək</li>
    </ol>
    <h2>Texniki Dəstək</h2>

  </div>
</section><!-- End Breadcrumbs -->

<main id="main"></main>

<!-- ======= Technical Services Section ======= -->
<section id="portfolio-details" class="portfolio-details">
  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-12">
        <div class="portfolio-description">
          <p>
            Bizim texniki dəstək xidmətimiz saytda yaranan bütün problemləri-kiberhücum və
            digər məsələlər həll edir.Və sizin aldığınız sayt paketində göstərilən müddət ərzində
            sizə ödənişsiz dəstək verilir.Texniki dəstək xidməti daha sonraslnda ssl sertifikatlarının
            verilməsi və hosting,domainlərin alımasında yardımçı olur.
          </p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Technical Services Section -->

</main><!-- End #main -->

{% endblock %}