{% load static %}
    <footer id="footer" class="footer footer-bg">
        <div class="footer-top">
            <div class="container">
                <div class="row gy-4 footer-img">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="#" class="logo d-flex align-items-center">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                        <p>Bu şirkətin yaranmasında səbəb bazara yeni texnologiyalarla hazırlanmış layihələrlə <br>
                            çıxmasıdır.Biz müştərilərin işinə öz işimiz kimi yanaşır və deyiləm müddətdə işləri əksiksiz
                            təqdim edirik <br>
                            İşiniz İşimizdir</p>
                        <div class="social-links mt-3">
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Sürətli keçid</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web saytların hazırlanması</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Xidmətlər</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Təklif alın</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Qaydalar</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Texniki tapşırıq</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Müqavilə nüsxəsi</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Təhlükəsizlik</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Əlaqə</h4>
                        <p>
                            <i class="bi bi-phone-fill"></i> +994(50)123 45 67<br>
                            <i class="bi bi-phone-fill"></i> +994(50)123 45 67<br>
                            <i class="bi bi-envelope-fill"></i> weblabs@gmail.com<br>
                        </p>

                    </div>

                </div>
                <div class="copyright">
                    &copy; Copyright <strong><span>WebLabs</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
                    Designed by <a href="https://bootstrapmade.com/"><i>Weblabs technologies</i></a>
                </div>
            </div>
        </div>

    </footer><!-- End Footer -->