{% load static %}
    <footer id="footer" class="footer footer-bg">
        <div class="footer-top">
            <div class="container">
                <div class="row gy-4 footer-img">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="#" class="logo d-flex align-items-center">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                        <p>Bu şirkətin yaranmasında səbəb bazara yeni texnologiyalarla hazırlanmış layihələrlə
                            çıxmasıdır.Biz müştərilərin işinə öz işimiz kimi yanaşır və deyilən müddətdə işləri əksiksiz təqdim
                            edirik.</p>
                            <p>İşiniz İşimizdir</p>
                           
                        <div class="social-links mt-3">
                            <a href="https://www.facebook.com/profile.php?id=100080791221827" class="facebook" target="_blank"><i class="bi bi-facebook fa-lg"></i></a>
                            <a href="https://www.instagram.com/weblabs.az/" class="instagram" target="_blank"><i class="bi bi-instagram fa-lg"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>SÜRƏTLİ KEÇİD</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Web saytların hazırlanması</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{% url 'services' %}">Xidmətlər</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Qaydalar</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Texniki tapşırıq</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Müqavilə nüsxəsi</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#">Təhlükəsizlik</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Əlaqə</h4>
                        <p>
                            <i class="bi bi-phone-fill"></i> +994(50) 875-69-17<br>
                            <i class="bi bi-envelope-fill"></i> info@weblabs.az<br>
                        </p>

                    </div>

                </div>
                <div class="copyright">
                    &copy; Copyright 2022 <strong><span>WebLabs</span></strong>. Bütün Hüquqlar Qorunur.
                </div>

            </div>
        </div>

    </footer><!-- End Footer -->