

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i>info@example.com
                <i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55
            </div>
            <div class="social-links d-none d-md-block">
                <a href="#" class="facebook"><i class="bi bi-facebook fa-lg"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram fa-lg"></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto">
                <a href="#" class="logo">
                    <!-- <span>WEBL<span style="color: #0DCCE0;">A</span>BS</span> -->
                    <img src="assets/img/lg2.png" alt="" class="img-fluid">
                </a>
            </h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="" href="{% url 'home' %}">Əsas səhifə</a></li>
                    <li><a class="" href="#about">Haqqımızda</a></li>
                    <li class="dropdown"><a href="#services">Xidmətlər<i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Saytlatın Hazırlanmasi</a></li>
                            <li><a href="#">Hazır Proqramlar və Mobil Tətbiqlər</a></li>
                            <li><a href="#">Server Nəzarəti və Hostinq</a></li>
                            <li><a href="#">Texniki Dəstək</a></li>
                            <li><a href="#">Seo Xİdməti</a></li>
                            <li><a href="#">CRM və Marketing Avtomatlaşdırma</a></li>
                            <li><a href="#">Sosial Media və Google Reklamları</a></li>
                            <li><a href="#">Lead Generation Həlləri</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="#portfolio">İşlərimiz</a></li>
                    <li><a class="" href="#contact">Əlaqə</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up"><i>Web saytların hazırlanması</i></h1>
                    <h2 data-aos="fade-up" data-aos-delay="400"><span>Işinizi bizə həvalə edin və ən qısa
                            müddət ərzində
                            sizə ən son texnologiyalarla hazırlanmış vəziyyətdə
                            saytı təhvil verək</span></h2>
                    <h4 class="pt-3" data-aos="fade-up" data-aos-delay="500">İşiniz İşimizdir!</h4>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="">
                            <a href="form.html" target="blank_"
                                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center rounded">
                                <span>Bizə Müraciət Edin</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Hero -->