{% load static %}

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i>info@example.com
                <i class="bi bi-phone-fill phone-icon"></i> +1 5589 55488 55
            </div>
            <div class="social-links d-none d-md-block">
                <a href="#" class="facebook"><i class="bi bi-facebook fa-lg"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram fa-lg"></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto">
                <a href="#" class="logo">
                    <img src="{% static 'img/lg2.png' %}" alt="" class="img-fluid">
                </a>
            </h1>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="" href="{% url 'home' %}">Əsas səhifə</a></li>
                    <li><a class="" href="{% url 'about' %}">Haqqımızda</a></li>
                    <li class="dropdown"><a href="#services">Xidmətlər<i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Saytlatın Hazırlanmasi</a></li>
                            <li><a href="#">Hazır Proqramlar və Mobil Tətbiqlər</a></li>
                            <li><a href="#">Server Nəzarəti və Hostinq</a></li>
                            <li><a href="#">Texniki Dəstək</a></li>
                            <li><a href="#">Seo Xİdməti</a></li>
                            <li><a href="#">CRM və Marketing Avtomatlaşdırma</a></li>
                            <li><a href="#">Sosial Media və Google Reklamları</a></li>
                            <li><a href="#">Lead Generation Həlləri</a></li>
                        </ul>
                    </li>
                    <li><a class="" href="{% url 'all_projects' %}">İşlərimiz</a></li>
                    <li><a class="" href="{% url 'contact' %}">Əlaqə</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

